@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes blob {
    0%, 100% {
      transform: translate(0, 0) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
  }

  .animate-blob {
    animation: blob 7s infinite;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  @keyframes wave-1 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(25px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes wave-2 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-25px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes wave-3 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-wave-1 {
    animation: wave-1 6s ease-in-out infinite;
  }

  .animate-wave-2 {
    animation: wave-2 7s ease-in-out infinite;
  }

  .animate-wave-3 {
    animation: wave-3 8s ease-in-out infinite;
  }
}
